.about-content {
	position: relative;
	z-index: 100;
	margin-top: 73vh;
	background-color: white;
	padding-bottom: 30px;
	width: 96vw;
}
.about-para {
  p {
  	margin-bottom: 20px;
  	padding: 40px 140px;
  }
}
.about-image img {
	width: 60vw;
}

@media only screen and (min-width:769px){
}
// IPAD - portrait 767 - 768
@media only screen and (min-width:761px) and (max-width:768px){
	.about-content {
		margin-top: 30vh;
		width: 90vw;
	}
	.about-para {
	  	p {
	  		padding: 40px 60px;
	  	}
	}
}

// Galaxy/Nexus - landscape 600 - 766
@media only screen and (max-width:760px){
	.about-content {
		margin-top: 70vh;
		width: 90vw;
	}
	.about-para {
	  	p {
	  		padding: 40px 60px;
	  	}
	}
}
// IPHONE 5 – landscape 500 - 600
@media only screen and (max-width:600px){ 
	.about-content {
    	margin-top: 200px;
	}
}
// IPHONE 6 & Plus– portrait 360 - 500
@media only screen and (max-width:500px) { 
	.about-content {
    	margin-top: 160px;
	}
	.about-para {
  		padding: 50px 0px 20px 0px;
  		p {
    		padding: 0 30px;
  		}
  	}
  	.about-image img {
    	width: 70vw;
	}
}
// IPHONE 5 & smaller – portrait max 359
@media only screen and (max-width:359px){ 
	.about-content {
    	margin-top: 170px;
	}
}