.about-content {
	position: relative;
	z-index: 100;
	margin-top: 73vh;
	background-color: white;
	padding-bottom: 30px;
	width: 96vw;
}
.about-para {
  padding: 40px 130px 20px 130px;
  p {
  	margin-bottom: 20px;
  	padding: 0 40px;
  }
}
.about-image img {
	width: 60vw;
}

@media only screen and (min-width:769px){
}
// IPAD - portrait 767 - 768
@media only screen and (min-width: 767px) and (max-width:768px){
	.about-content {
		margin-top: 40vh;
		width: 90vw;
	}
	.about-para {
  		padding: 50px 30px 20px 30px;
  	}
}

// Galaxy/Nexus - landscape 600 - 766
@media only screen and (min-width: 600px) and (max-width:766px){ 
}
// IPHONE 5 – landscape 500 - 600
@media only screen and (min-width: 500px) and (max-width:600px){ 
}
// IPHONE 6 & Plus– portrait 360 - 500
@media only screen and (max-width:500px) { 
	.about-content {
    	width: 137vw;
    	margin-top: 350px;
	}
	.about-para {
  		padding: 50px 0px 20px 0px;
  	}
  	.about-image img {
    	width: 90vw;
	}
}
// IPHONE 5 & smaller – portrait max 359
@media only screen and (max-width:359px){ 
	.about-content {
		width: 154vw;
	}
}