.contact-content {
	position: relative;
	z-index: 2;
	margin-top: 70vh;
	background-color: white;
}
.contact-title {
	padding-top: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	h4 {
	margin: 0 20px 0 20px;
	}
}
.contact-para {
	padding: 40px 270px 20px 270px;
}
.contact-details {
	i {
		color: orange;
		padding-right: 10px;
	}
	a {
		color: black;
		text-decoration: none;
	}
	a:hover {
		color: #E0E0E0;
	}
}
.contact-image img {
	padding-top: 30px;
	padding-bottom: 40px;
	width: 750px;
}