.contact-content {
	width: 95vw;
	position: relative;
	z-index: 3;
	margin-top: 73vh;
	background-color: white;
	padding-bottom: 30px;
}
.contact-title {
	padding-top: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	h3 {
	margin: 0 20px 0 20px;
	}
}
.contact-para {
	padding: 40px 270px 20px 270px;
}
.contact-details {
	i {
		color: orange;
		padding-right: 10px;
	}
	a {
		color: black;
		text-decoration: none;
	}
	a:hover {
		color: #E0E0E0;
	}
}
.contact-image img {
	padding-top: 30px;
	padding-bottom: 65px;
	width: 750px;
}

@media only screen and (min-width:769px){
}
// IPAD - portrait 767 - 768
@media only screen and (min-width: 767px) and (max-width:768px){
	.contact-content {
		margin-top: 40vh;
		width: 90vw;
	}
	.contact-para {
  		padding: 50px 30px 20px 30px;
  	}
  	.contact-image img {
	    padding-top: 30px;
	    padding-bottom: 25px;
	    width: 60vw;
	}
}

// Galaxy/Nexus - landscape 600 - 766
@media only screen and (min-width: 600px) and (max-width:766px){ 
}
// IPHONE 5 – landscape 500 - 600
@media only screen and (min-width: 500px) and (max-width:600px){ 
}
// IPHONE 6 & Plus– portrait 360 - 500
@media only screen and (max-width:500px){ 
	.contact-content {
		margin-top: 350px;
		width: 137vw;
	}
	.contact-para {
  		padding: 50px 30px 20px 30px;
  	}
  	.contact-image img {
	    padding-top: 30px;
	    padding-bottom: 65px;
	    width: 470px;
	}
}
// IPHONE 5 & smaller – portrait max 359
@media only screen and (max-width:359px){ 
	.contact-content {
		width: 154vw;
	}
}
