.products-content {
	position: relative;
	z-index: 100;
	margin-top: 73vh;
	background-color: white;
	padding-bottom: 30px;
	width: 96vw;
}
.products-title {
	margin: 150px 0 50px 0; 
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	h3 {
		margin: 0 20px 0 20px;
		font-size: 12px;
	}
}
.products-main img {
	width: 65vw;
	border-radius: 4px;
	margin-bottom: 30px;	
}
.products-para {
	margin: 50px 160px 30px 160px;
}
.products-sub-section {
	padding: 0 20px;
	p {
		font-weight: lighter;
		margin-bottom: 10px;
	}	
}
.products-sub-header {
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	h4 {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 19px;
	}
}
.products-sub-images {
	height: 35vh;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	margin: 5px 40px;
}
.products-sub-image-1 img {
	width: 18vw;
	-webkit-transition: all .5s ease-in-out;
	opacity: 0.90;
	z-index: 1;
	
}
.products-sub-image-2 img {
	width: 18vw;
	-webkit-transition: all .5s ease-in-out;
	opacity: 0.90;
	z-index: 1;
	
}
.products-sub-image-3 img {
	width: 18vw;
	-webkit-transition: all .5s ease-in-out;
	opacity: 0.90;
	z-index: 1;
	
}
.products-sub-image-4 img {
	width: 18vw;
	-webkit-transition: all .5s ease-in-out;
	opacity: 0.90;
	z-index: 1;
	
}
.products-sub-image img:hover {
	-webkit-transform: scale(1.20);
	z-index: 100000 !important;
	opacity: 1;
}
.products-sub-para {
	padding: 0 150px;
}
.last-section {
	padding-bottom: 80px;
}

@media only screen and (min-width:769px){
}
// IPAD - portrait 767 - 768
@media only screen and (min-width: 767px) and (max-width:768px){
	.products-content {
		margin-top: 40vh;
		width: 90vw;
	}
	.products-para {
		margin: 30px 80px 10px 80px;
	}
	.products-sub-images {
		height: 15vh;
	}
	.products-sub-para {
		padding: 0 60px;
	}
	.last-section {
		padding-bottom: 55px;
	}
}

// Galaxy/Nexus - landscape 600 - 766
@media only screen and (min-width: 600px) and (max-width:766px){ 
}
// IPHONE 5 – landscape 500 - 600
@media only screen and (min-width: 500px) and (max-width:600px){ 
}
// IPHONE 6 & Plus– portrait 360 - 500
@media only screen and (max-width:500px){ 
	.products-content {
    	width: 137vw;
    	margin-top: 350px;
	}
	.products-para {
  		margin-left: 20px;
  		margin-right: 20px;
  	}
  	.products-sub-images {
    	height: 15vh;
    	margin-left: 0;
    	margin-right: 0;
	}
	.products-sub-image-1 img {
		width: 25vw;
	}
	.products-sub-image-2 img {
		width: 25vw;
	}
	.products-sub-image-3 img {
		width: 25vw;
	}
	.products-sub-image-4 img {
		width: 25vw;
	}
	.products-sub-para { 
		padding: 20px 30px 0 30px;
	}
}
// IPHONE 5 & smaller – portrait max 359
@media only screen and (max-width:359px){ 
	.products-content {
    	width: 154vw;
    }
}





