.products-title {
	margin: 150px 0 50px 0; 
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	h3 {
		margin: 0 20px 0 20px;
	}
}
.products-main img {
	width: 65vw;
	border-radius: 4px;
	margin-bottom: 30px;	
}
#product-image {
	img {
		position: absolute;
		top: 230px;
		left: 18vw;
		z-index: -10;
	}
	img.active { 
		z-index: 10;
		position: absolute;
		top: 230px;
		left: 18vw;
	}
}
.products-para {
	margin: 470px 175px 30px 175px;
}
.products-sub-section {
	padding: 0 50px;
	p {
		font-weight: lighter;
		margin-bottom: 10px;
	}	
}
.products-sub-header {
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	h4 {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.products-sub-images {
	height: 40vh;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	margin: 5px 40px;
}
.products-sub-image-1 img {
	width: 18vw;
	-webkit-transition: all .5s ease-in-out;
	opacity: 0.90;
	z-index: 1;
	border: 2px solid #D9D9D9;
}
.products-sub-image-2 img {
	width: 18vw;
	-webkit-transition: all .5s ease-in-out;
	opacity: 0.90;
	z-index: 1;
	border: 2px solid #D9D9D9;
}
.products-sub-image-3 img {
	width: 18vw;
	-webkit-transition: all .5s ease-in-out;
	opacity: 0.90;
	z-index: 1;
	border: 2px solid #D9D9D9;
}
.products-sub-image-4 img {
	width: 18vw;
	-webkit-transition: all .5s ease-in-out;
	opacity: 0.90;
	z-index: 1;
	border: 2px solid #D9D9D9;
}
.products-sub-image img:hover {
	-webkit-transform: scale(1.30);
	z-index: 100000 !important;
	opacity: 1;
}
.products-sub-para {
	padding: 0 150px;
}
.last-section {
	padding-bottom: 80px;
}







