.products-image img {
	height: 50vh;
}
.products-para {
	padding: 40px 210px 20px 210px;
}
.products-sub-section {
	padding: 0 40px;
	span {
		color: #8D8D8D;
		font-weight: lighter;
	}	
}
.products-sub-header {
	padding-top: 40px;
}
.products-sub-images {
	display: flex;
	justify-content: center;
}
.products-sub-image img {
	width: 20vw;
	padding: 30px 15px;
}
.products-sub-para {
	padding: 0 150px;
}