.services-title {
  margin-left: 50px;
}
.services-list {
  padding: 20px 0;
}
.services-list-links {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-top: 15px;
  padding-bottom: 30px;
}
.services-stuck { 
  position: fixed;
  z-index: 0;
  top: 5px;
  left: 8vw;
  background-color: white;
}
.services-list-right {
  margin-left: -45px;
}
.services-list-link {
  color: black;
  background-color: #F9F9F9;
  a {
    text-decoration: none;
  }
}
.services-list-link:hover {
  color: grey;
  text-decoration: none;
}
.services-top {
  margin-top: 345px;
} 
.services-bottom {
  padding-bottom: 30px;
  margin-bottom:20px;
}
.services-all {
  padding-bottom: 30px;
  margin-bottom: 40px;
  margin-top:400px;
}
.services-sections {
  position: relative;
  z-index: 2; 
  background-color: white;
  width: 74vw;
  img {
    padding-top: 30px;
    width: 40vw;
    height: 360px;
  }
}
.services-subtitle {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  h5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.services-para {
  margin: 20px 100px 40px 100px;
}
.services-list-two {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  top: 15vh;
  left: 14px;
  z-index: 3;
  position: fixed;
  padding: 20px 0;
  width: 17vw;
  margin: 40px 40px 40px 0;
  padding-left: 40px;
  p {
    padding-right: 58px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
   span {
    color: grey;
  }
}
