.services-title {
  margin: 150px 0 50px 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h3 {
    margin: 0 20px 0 20px;
    font-size: 24px;
  }
}
.services-stuck { 
  background-color: white;
  display: flex;
  flex-direction: column;
}
.services-lists {
  padding-top: 20px;
  display: flex;
  width: 96vw;
  justify-content: space-between;
}
.services-list-link {
  color: black;
  a {
    text-decoration: none;
    font-size: 12px;
  }
}
.services-list-link:hover {
  color: grey;
  text-decoration: none;
}
 
.services-sections {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  z-index: 2; 
  background-color: white;
  width: 96vw;
  p {
    padding:0 50px;
  }
  img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 40vw;
    height: 360px;
    border-radius: 4px;
  }
}
.services-subtitle {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
  }
}
.services-para {
  margin: 20px 100px 40px 100px;
}
.services-list-two {
  background-color: white;
  border-bottom: 0.5px solid #E9E9E9;
  display: flex;
  top: 0;
  z-index: 3000 !important;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 0 20px;
  h6 {
    font-size: 10px;
  }
  p {
    font-size: 14px;
  }
  span {
    color: grey;
  }
}
.center {
  display: flex;
  justify-content: center;
}
.second-para {
  padding-right: 20px;
}