.team-images {
	display: flex;
	justify-content: center;
}
.team-image img {
	height: 500px;
	width: 400px;
	padding: 20px 30px;
}
.team-content {
	padding: 0px 30px;
	h6 {
		padding-bottom: 5px;
	}
	p {
		padding-bottom: 70px;
	}
}
.team-banner {
	margin-bottom: -70px;
}