.team-title {
  margin: 150px 0 20px 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h3 {
    margin: 0 20px 0 20px;
    font-size: 24px;
  }
}
.team-images {
	display: flex;
	justify-content: center;
}
.team-image img {
	height: 400px;
	width: 330px;
	padding: 0 15px;
}
.team-content {
	margin: 0px 15px;
	background-color: #FBFAF9;
	padding: 20px 8px;
	height: 290px;
	width: 300px;
	h6 {
		padding-bottom: 5px;
	}
}
.team-member {
	background-color: white;
	padding-bottom: 60px;
	margin-top: 20px;
}
.team-banner {
	margin-bottom: -70px;
	height: 60vh;
	width: 100%;
	background-size: cover !important;
	background-position: center;
	z-index: 3;
}

@media only screen and (min-width:769px){
}
// IPAD - portrait 767 - 768
@media only screen and (min-width: 767px) and (max-width:768px){
	.team-images {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}

// Galaxy/Nexus - landscape 600 - 766
@media only screen and (min-width: 600px) and (max-width:766px){ 
}
// IPHONE 5 – landscape 500 - 600
@media only screen and (min-width: 500px) and (max-width:600px){ 
}
// IPHONE 6 & Plus– portrait 360 - 500
@media only screen and (min-width: 360px) and (max-width:500px){ 
}
// IPHONE 5 & smaller – portrait max 359
@media only screen and (max-width:359px){ 
}





