<%= render 'shared/navbar_general' %>

<div class="banner"	style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1479427205/about-try_ybavrk.jpg');">
</div>
<div class="container text-center">
	<div class="about-title">
		<div class="title-line-left"></div>
			<h3>ABOUT US</h3>
		<div class="title-line-right"></div>
	</div>
	<span>&mdash;</span>
	<div class="about-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptatum officiis ducimus non suscipit quo debitis ab, vitae a dolor, nobis totam dignissimos nemo neque error possimus, architecto cupiditate voluptates.</p> 
	</div>
	<div class="about-image text-center">
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %>
	</div>
	<div class="about-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa vero hic autem a blanditiis odio, rem reiciendis deserunt ullam nisi laborum molestias minima veniam vel placeat officiis ipsum iusto repudiandae.
		<br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod earum voluptatibus, architecto optio repellat obcaecati, quisquam odio eum cumque voluptatum accusamus dolor atque a esse molestias eaque voluptatem sit. Quaerat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate optio fugit provident iste unde consequatur a totam tenetur adipisci, magni alias veritatis quos, sequi in ratione explicabo debitis iusto nostrum.
		<br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque libero aspernatur, dolor aliquam quisquam ratione excepturi! Optio perspiciatis necessitatibus nihil deserunt, corrupti saepe, veniam deleniti nemo, reiciendis, quisquam eaque harum.</p>
	</div>
</div>
<%= render 'shared/footer' %>
