<%= render 'shared/navbar_general' %>

<div class="banner"	style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1479427205/about-try_ybavrk.jpg');">
</div>
<div class="container text-center">
	<div class="about-title">
		<div class="title-line-left"></div>
			<h4>ABOUT US</h4>
		<div class="title-line-right"></div>
	</div>
	<div class="about-para">
		<p>The Bespoke Metal Studio was founded on the basis of the extensive experience gained over 35 years within the bespoke lighting manufacturing between the three members of the design.Focused on combining excellence in both product and service we are building the business around our clients - what you tell us you want from your luxury lighting supplier.
		</p>
		<p>We aim to offer our Clients bespoke handcrafted metalwork and supply products tailor made to your specifications and requirements. We offer our expertise, high lever of customer care and a complete service from design through to installations on site.</p> 
	</div>
	<div class="about-image text-center">
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
	</div>
	<div class="about-para">
		<p>Benefits to the client?
•    Bespoke Metal Studio - helping you turn your inspiration into reality
•    Excellent product - depth of skills and experience; breadth of craftsmanship (in-house and via valued supplier partners); quality of materials
•    Excellent service - we do not over-promise: we do what we say we’re going to do on time and on budget
•    Communication - we keep you up to date on progress with your order, both good news, and when things don’t go to plan
•    Partnership - we see ourselves as the metalwork arm of your studio. Great relationship is key to delivering best results
•    Innovation - constantly improving our skills, materials + systems
•    Full package - refurbishment, rewiring, installation, maintenance
•    In short: we take the hassle out of the decorative lighting element of your project, and help you continually to create exciting & luxurious new designs.
</p>
	</div>
</div>

