<%= render 'shared/navbar_general' %>

<div class="banner"	style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1478890824/BMS_Contact_zrhvm2.jpg');">
</div>
<div class="container text-center">
	<div class="lower-title">
		<h3>CONTACT US</h3>
	</div>
	<div class="contact-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis itaque, vel numquam velit quos. 
		</p>
		<p>BESPOKE METAL STUDIO LTD</br>
		UNIT 8</br>
		HELDITE CENTRE</br>
		BRISTOW ROAD</br>
		HOUNSLOW</br>
		MIDDLESEX</br>
		TW3 1UP</p>

		<p>Tel: 07905483601</p>
		<p>Email: mybmstudio@hotmail.com</p>
	</div>
</div>
<%= render 'shared/footer' %>