<%= render 'shared/navbar_general' %>

<div class="banner"	style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1478890824/BMS_Contact_zrhvm2.jpg');">
</div>
<div class="container text-center">
	<div class="contact-title">
		<div class="title-line-left"></div>
			<h4>CONTACT US</h4>
		<div class="title-line-right"></div>
	</div>
	<div class="contact-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis itaque, vel numquam velit quos. 
		</p>
		<span><p>&mdash;</p></span>
		<p>BESPOKE METAL STUDIO LTD</br>
		UNIT 8</br>
		HELDITE CENTRE</br>
		BRISTOW ROAD</br>
		HOUNSLOW</br>
		MIDDLESEX</br>
		TW3 1UP</p>
		<span><p>&mdash;</p></span>
		<div class="contact-details">
			<p><i class="fa fa-phone"></i>
	      		<a href="tel:+44-203-488-1184">Tel: +44(0) 20 3488 1184</a></p>
			<p><i class="fa fa-envelope"></i>
				<%= link_to "mybmstudio@hotmail.com", "mailto:mybmstudio@hotmail.com" %></p>
		</div>
	</div>
	<div class="contact-image">
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479464787/bms-map_gboeoz.jpg") %>
		</div>
</div>
<%= render 'shared/footer' %>
