<%= render 'shared/navbar_general' %>

<div class="banner"	style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1478890824/BMS_Contact_zrhvm2.jpg');">
</div>

<div class="main-wrapper">
<div class="container pullDown text-center contact-content">
	<div class="main-title">
		<h3>CONTACT US</h3>
	</div>
	<div class="contact-para">
		<p>Please get in touch if you’d like to discuss a project (even if it’s still just an idea) and we will provide you with a quote. We look forward to hearing from you!</p>
		<span><p>&mdash;</p></span>
		<p>BESPOKE METAL STUDIO LTD</br>
		UNIT 8</br>
		HELDITE CENTRE</br>
		BRISTOW ROAD</br>
		HOUNSLOW</br>
		MIDDLESEX</br>
		TW3 1UP</p>
		<span><p>&mdash;</p></span>
		<div class="contact-details">
			<p><i class="fa fa-phone"></i>
	      		<a href="tel:+44-203-488-1184">Tel: +44 7956 263700</a>
			<p><i class="fa fa-envelope"></i>
				<%= link_to "info@bespokemetalstudio.com", "mailto:info@bespokemetalstudio.com" %></p>
		</div>
	</div>
	<div class="contact-image">
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479464787/bms-map_gboeoz.jpg") %>
	</div>
</div>
</div>


