<%= render 'shared/navbar_homepage' %>

<div class="homepage-banner" style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1479304592/BMS_Product-28_gq6cba.jpg');">
</div>	


