<%= render 'shared/navbar_homepage' %>

<div class="homepage-banner" style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/c_scale,h_3427,w_5760,z_0.1/v1478524163/BMS_homepage_eoxbko.jpg');">
</div>	


