<%= render 'shared/navbar_general' %>

<div class="container text-center">
	<div class="top-title">
		<h3>SERVICES</h3>
	</div>
	<div class="services-list">
		<div class="row">
			<div class="col-sm-6 services-list-left">
				<h5><span>&mdash;</span> METAL FINISHING</h5>
				<h5><span>&mdash;</span> INSTALLATIONS</h5>
				<h5><span>&mdash;</span> LIGHTING CONSULTANCY</h5>
			</div>
			<div class="col-sm-6 services-list-right">
				<h5><span>&mdash;</span> RESTORATION</h5>
				<h5><span>&mdash;</span> RE/WIRING & UK CONVERSION</h5>
			</div>
		</div>
	</div>
	<div class="services-images-row1">
		.
	</div>
	<div class="services-images-row2">
	</div>
</div>
<%= render 'shared/footer' %>

