// Your footer style
.footer {
	background-color: #0C0C0C;
	z-index: 10000 !important;
	position: relative;
}
.footer-main {
	display: flex;
	justify-content: space-between;
	padding: 10vh 250px 0 250px;
	height: 40vh;
	color: grey;
	margin-top: 0px;
	h6 {
	color: white;
	font-size: 14px;
	font-size: lighter;
	}
	p {
		font-weight: lighter;
		font-size: 14px;
	}
	a {
		color: grey;
		text-decoration: none;
	}
	a:hover {
		color: white;
		text-decoration: none;
	}
	i {
		color: grey;
		padding: 5px;
	}
	i:hover {
		color: white;
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
}

