// Your footer style
.footer {
	background-color: #EFEAE5;
	z-index: 10000 !important;
	position: relative;
}
.footer-main {
	display: flex;
	justify-content: space-between;
	padding: 10vh 150px 0 150px;
	height: 40vh;
	margin-top: 0px;
	h6 {
	color: #4B4B4B;
	font-size: lighter;
	}
	p {
		font-weight: lighter;
		font-size: 14px;
	}
	a {
		color: grey;
		text-decoration: none;
	}
	a:hover {
		color: white;
		text-decoration: none;
	}
	i {
		color: grey;
		padding: 5px;
	}
	i:hover {
		color: white;
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
}

@media only screen and (min-width:769px){
}
// IPAD - portrait 767 - 768
@media only screen and (max-width:768px){
  .footer-main {
  	padding: 40px 10vh 48px 10vh;
  	height: 25vh;
  }
}

// Galaxy/Nexus - landscape 600 - 766
@media only screen and (max-width:766px){ 
	.footer-main {
		height: 68vh;
	}
	.footer-right {
		padding-right: 34px;
	}
}
// IPHONE 5 – landscape 500 - 600
@media only screen and (max-width:600px){ 
}
// IPHONE 6 & Plus– portrait 360 - 500
@media only screen and (max-width:500px){ 
	.footer-main {
	  	padding: 40px 10vh 40px 10vh;
	    height: 60vh;
		display: flex;
		flex-wrap: wrap;
	}
}
// IPHONE 5 & smaller – portrait max 359
@media only screen and (max-width:359px){ 
	.footer-main {
	  	padding: 40px 6vh 40px 6vh;
	    height: 68vh;
	}
	.footer-right {
		padding-right: 34px;
	}
}
