/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
//Wrapper
.main-wrapper {
	background-color: #EFEAE5;

}

// Titles
.small-line-left {
	border-bottom: 1px solid #EBE5DE;
	width: 380px;
	margin-left: 115px;
}
.small-line-right {
	border-bottom: 1px solid #EBE5DE;
	width: 380px;
	margin-right: 115px;
}
.small-line-left-two {
	border-bottom: 1px solid #EBE5DE;
	width: 400px;
	margin-left: 115px;
}
.small-line-right-two {
	border-bottom: 1px solid #EBE5DE;
	width: 400px;
	margin-right: 115px;
}
.main-title {
	padding-top: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	h3 {
		margin: 0 20px 0 20px;
		font-size: 24px;
	}
}
