.banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 70vh;
  margin-top: 70px;
  background-size: cover !important;
  background-position: center; 
}		
#banner-main-image {
	img {
		height: 70vh;
		width: 100%;
		margin-top: 70px;
		position: absolute;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: -10;
	}
	img.active { 
		height: 70vh;
		width: 100%;
		margin-top: 70px;
		position: absolute;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 10;
	}
}
@media only screen and (min-width:769px){
}
// IPAD - portrait 767 - 768
@media only screen and (min-width: 767px) and (max-width:768px){
	#banner-main-image {
		img {
			height: 40vh;
			width: auto;
		}
		img.active {
			height: 40vh;
			width: auto;
		}
	}
	.banner {
	  height: 40vh;
	}
}

// Galaxy/Nexus - landscape 600 - 766
@media only screen and (min-width: 600px) and (max-width:766px){ 
}
// IPHONE 5 – landscape 500 - 600
@media only screen and (min-width: 500px) and (max-width:600px){ 
}
// IPHONE 6 & Plus– portrait 360 - 500
@media only screen and (min-width: 360px) and (max-width:500px){ 
	.banner {
		height: 40vh;
		width: 100%;
	}
	#banner-main-image {
		img {
			height: 40vh;
			width: 100%;
		}
		img.active { 
			height: 40vh;
			width: 100%;
		}
	}
}
// IPHONE 5 & smaller – portrait max 359
@media only screen and (max-width:359px){ 
}