.banner {
  background-image: linear-gradient(-225deg, rgba(0,10,50,0.1) 50%, rgba(0,36,61,0.6) 80%), url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1478524163/BMS_homepage_eoxbko.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  position: relative;
}